#ifndef __JSON_LOADER__
#define __JSON_LOADER__

#include <string>
#include <vector>
#include <cstdio>
#include <fstream>
#include <sstream>
#include <iostream>

#include "rapidjson/filewritestream.h"
#include "rapidjson/rapidjson.h"
#include "rapidjson/document.h"
#include "rapidjson/writer.h"

{% for struct in schema.structs -%}
typedef struct{
{%- for field in struct.fields %}
{%- if isinstance(field, Vector) %}
    {{field.get_cpp_type()}} {{field.name}};
{%- else %}
    {{field.typename}} {{field.name}};
{%- endif %}
{%- endfor %}
}{{ struct.typename }};

{% endfor -%}

// T is a struct
// J is a rapidjson::Document or a rapidjson::Value
template<class T, class J>
void CheckJson(const T& obj, const J& doc);

// T is a struct
// J is a rapidjson::Document or a rapidjson::Value
template<class T>
void Serialize(rapidjson::Document& out, const T& obj);
template<class T>
void Serialize(rapidjson::Value& out, const T& obj, rapidjson::Document::AllocatorType& alloc);
template<class T, class J>
void Deserialize(T& obj, J& doc);

// T is a struct
// J is a rapidjson::Document or a rapidjson::Value
template<class T>
void LoadStruct(T& out, const std::string& path);
template<class T>
void SaveStruct(const T& obj, const std::string& path);

void LoadJSON(rapidjson::Document& out, const std::string& path);
void SaveJSON(const rapidjson::Document& obj, const std::string& path);

#endif // __JSON_LOADER__