#ifndef __{{library_name}}__
#define __{{library_name}}__

#include <string>
#include <vector>
#include <cstdio>
#include <fstream>
#include <sstream>
#include <iostream>


#include "rapidjson/filewritestream.h"
#include "rapidjson/prettywriter.h"
#include "rapidjson/rapidjson.h"
#include "rapidjson/document.h"
#include "rapidjson/writer.h"

#ifndef JSON_LOG_FUNC
#define JSON_LOG_FUNC(msg) std::cout << msg << std::endl;
#endif

{% for struct in schema.structs -%}
typedef struct {{ struct.typename }}{
{%- for field in struct.fields %}
{%- if isinstance(field, Vector) %}
    {{field.get_cpp_type()}} {{field.name}};
{%- else %}
    {{field.typename}} {{field.name}};
{%- endif %}
{%- endfor %}
}{{ struct.typename }};

{% endfor -%}

#ifndef __JSON_LOADER_DEFINITION__
#define __JSON_LOADER_DEFINITION__

// T is a struct
// J is a rapidjson::Document or a rapidjson::Value
template<class T, class J>
bool CheckJson(const T& obj, const J& doc);

// T is a struct
// J is a rapidjson::Document or a rapidjson::Value
template<class T, class J>
void Deserialize(T& obj, J& doc);
template<class T>
void Serialize(rapidjson::Document& out, const T& obj);
template<class T>
void Serialize(rapidjson::Value& out, const T& obj, rapidjson::Document::AllocatorType& alloc);

// T is a struct
// J is a rapidjson::Document or a rapidjson::Value
template<class T>
bool LoadStruct(T& out, const std::string& path);
template<class T>
void SaveStruct(const T& obj, const std::string& path);

// If main struct
template<class T>
std::string JsonToString(const T& obj);

static void LoadJSON(rapidjson::Document& out, const std::string& path)
{
    std::ifstream f(path);
    std::stringstream buffer;
    buffer << f.rdbuf();
    out.Parse(buffer.str().c_str());
}
static void SaveJSON(const rapidjson::Document& doc, const std::string& path)
{
    char writeBuffer[65536];
    FILE* fp = fopen(path.c_str(), "w");
    rapidjson::FileWriteStream os(fp, writeBuffer, sizeof(writeBuffer));
    rapidjson::PrettyWriter<rapidjson::FileWriteStream> writer(os);
    doc.Accept(writer);
    fclose(fp);
}

#endif // __JSON_LOADER_DEFINITION__


{% for struct in schema.structs -%}
template <>
bool CheckJson(const {{struct.typename}}& obj, const rapidjson::Document& doc)
{
    bool check = true;
{%- for field in struct.fields %}
    if(!doc.HasMember("{{field.name}}")){
        JSON_LOG_FUNC("{{struct.typename}} MISSING FIELD: {{field.name}}"); 
        check = false;
    }
{%- endfor %}
    return check;
}

template<>
{%- if struct.is_main_struct %}
void Serialize(rapidjson::Document& out, const {{struct.typename}}& obj)
{%- else %}
void Serialize(rapidjson::Value& out, const {{struct.typename}}& obj, rapidjson::Document::AllocatorType& alloc)
{%- endif%}
{
    out.SetObject();
{%- if struct.is_main_struct %}
    rapidjson::Document::AllocatorType& alloc = out.GetAllocator();
{%- endif%}
{%- for field in struct.fields %}
{%- if isinstance(field, Struct)%}
    {
        rapidjson::Value v;
        Serialize(v, obj.{{field.name}}, alloc);
        out.AddMember("{{field.name}}", v, alloc);
    }
{%- endif %}
{%- if isinstance(field, BasicField)%}
{%- if field.get_rapidjson_type() == "String" %}
    out.AddMember("{{field.name}}", rapidjson::Value().SetString(obj.{{field.name}}.c_str(), obj.{{field.name}}.size(), alloc), alloc);
{%- else %}
    out.AddMember("{{field.name}}", rapidjson::Value().Set{{field.get_rapidjson_type()}}(obj.{{field.name}}), alloc);
{%- endif %}
{%- endif %}
{%- if isinstance(field, Vector)%}
    {
{%- for i in range(field.recursion_level)%}
{%- set currIdx = "i"*(i+1) %}
{%- set currVecIdx = vec_rec_idx("i",field.recursion_level-1, i)%}
        {{"\t"*(i)}}rapidjson::Value v{{i}};
        {{"\t"*(i)}}v{{i}}.SetArray();
        {{"\t"*(i)}}for(size_t {{currIdx}} = 0; {{currIdx}} < obj.{{field.name}}{{currVecIdx}}.size(); {{currIdx}}++){
{%- endfor%}
{%- set VecIdx = vec_rec_idx("i",field.recursion_level, field.recursion_level)%}
{%- if isinstance(field.typename, BasicField)%}
{%- if field.typename.get_rapidjson_type() == "String" %}
        {{"\t"*(field.recursion_level)}}v{{field.recursion_level-1}}.PushBack(rapidjson::Value().SetString(obj.{{field.name}}{{VecIdx}}.c_str(), obj.{{field.name}}{{v}}{{VecIdx}}.size(), alloc), alloc);
{%- else %}
        {{"\t"*(field.recursion_level)}}v{{field.recursion_level-1}}.PushBack(rapidjson::Value().Set{{field.typename.get_rapidjson_type()}}(obj.{{field.name}}{{VecIdx}}), alloc);
{%- endif %}
{%- endif %}
{%- if isinstance(field.typename, Struct) %}
        {{"\t"*(field.recursion_level)}}rapidjson::Value new_obj;
        {{"\t"*(field.recursion_level)}}Serialize(new_obj, obj.{{field.name}}{{VecIdx}}, alloc);
        {{"\t"*(field.recursion_level)}}v{{field.recursion_level-1}}.PushBack(new_obj, alloc);
{%- endif %}
{%- for i in range(field.recursion_level-1, -1, -1)%}
    {{"\t"*(i+1)}}}
{%- if i == 0 %}
    {{"\t"*(i+1)}}out.AddMember("{{field.name}}", v0, alloc);
{%- else %}
    {{"\t"*(i+1)}}v{{i-1}}.PushBack(v{{i}}, alloc);
{%- endif %}
{%- endfor%}
    }
{%- endif %}
{%- endfor %}
}
{%- if struct.is_main_struct %}
template<>
void Deserialize({{struct.typename}}& obj, rapidjson::Document& doc)
{
{%- for field in struct.fields %}
    if(!doc.HasMember("{{field.name}}")){
        JSON_LOG_FUNC("{{struct.typename}} MISSING FIELD: {{field.name}}"); 
    }else{
{%- if isinstance(field, Struct)%}
        Deserialize(obj.{{field.name}}, doc["{{field.name}}"]);
{%- endif %}
{%- if isinstance(field, BasicField)%}
        obj.{{field.name}} = doc["{{field.name}}"].Get{{field.get_rapidjson_type()}}();
{%- endif %}
{%- if isinstance(field, Vector)%}
{{field.get_cpp_deserialize_loop()}}
{%- endif %}
    }
{%- endfor %}
}
{%- endif%}
template<>
void Deserialize({{struct.typename}}& obj, rapidjson::Value& doc)
{
{%- for field in struct.fields %}
    if(!doc.HasMember("{{field.name}}")){
        JSON_LOG_FUNC("{{struct.typename}} MISSING FIELD: {{field.name}}"); 
    }else{
{%- if isinstance(field, Struct)%}
        Deserialize(obj.{{field.name}}, doc["{{field.name}}"]);
{%- endif %}
{%- if isinstance(field, BasicField)%}
        obj.{{field.name}} = doc["{{field.name}}"].Get{{field.get_rapidjson_type()}}();
{%- endif %}
{%- if isinstance(field, Vector)%}
{{field.get_cpp_deserialize_loop()}}
{%- endif %}
    }
{%- endfor %}
}

{%- if struct.is_main_struct %}

template<>
std::string JsonToString(const {{struct.typename}}& obj)
{
    rapidjson::Document doc;
    rapidjson::StringBuffer sb;
    rapidjson::Writer<rapidjson::StringBuffer> w(sb);
    Serialize(doc, obj);
    doc.Accept(w);
    return sb.GetString();
}

template<>
bool LoadStruct({{struct.typename}}& out, const std::string& path)
{
    rapidjson::Document doc;
    LoadJSON(doc, path);
    bool check_passed = CheckJson(out, doc);
    Deserialize(out, doc);
    return check_passed;
}
template<>
void SaveStruct(const {{struct.typename}}& obj, const std::string& path)
{
    rapidjson::Document doc;
    Serialize(doc, obj);
    SaveJSON(doc, path);
}
{%- endif %}

{% endfor -%}

#endif // __JSON_LOADER__